* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

body {
  background-color: antiquewhite;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin: 30px 0;
  font-size: 45px;
}

ul {
  list-style: none;
}
