<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue mail list</title>
    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- /My CSS -->

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- /Axios -->
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="container">
        <h1>Generating 10 random Emails</h1>
        <ul>
          <li v-for="email in emails" v-if="completed">{{email}}</li>
        </ul>
      </div>
    </div>

    <!-- Vue JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /Vue JS -->

    <!-- My JS -->
    <script src="js/main.js"></script>
    <!-- /My JS -->
  </body>
</html>
